/*HTML选择器*/
p{
    color:#333333
}
h3,h4{
    background:#f3f3f3;
    margin : 0px 0px 0px 0px;
}
/*pre用输入的格式显示出来，常常用来格式化代码*/
pre{
    background:#f3f3f3
}

span{
    color:#009a61
}



/*id选择器*/
#time{
    color:#999999
}


/*class选择器*/
p.tag{
    background : #e7f2ed

    
}

